---
import { getLangCode, getRoot } from '@/i18n'
import type { Paging } from '@/utils/server'
import PaginationGo from '@/components/pagination-go.vue'

interface Props {
  page: Paging
}

const { page } = Astro.props
const code = getLangCode(Astro.url)
const root = getRoot(code)

const pageRoute = (page: number) => (page === 1 ? '' : `posts/${page}`)
---

<div class="pagination">
  <a class="pagination__button" href={`${root}${pageRoute(page.prev)}`}>&lt;</a>
  <div class="pagination__current">{page.current}</div>
  <a class="pagination__button" href={`${root}${pageRoute(page.next)}`}>&gt;</a>
  <PaginationGo client:load view="posts" code={code} last={page.last} />
</div>

<style lang="scss">
  @use '@/styles/mixin' as mixin;

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;

    width: 100%;
    margin: 0.5rem 0;
    user-select: none;

    &__button {
      @include mixin.btn-pagination;
    }

    &__current {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 2rem;
      height: 2rem;

      color: var(--color-white);
      background-color: var(--color-black);
      border: 1px solid var(--color-black);
      border-radius: 50%;
    }
  }
</style>
