---
import { getLangCode, getRoot, useLang } from '@/i18n'
import { tagify, ymdFormat } from '@/utils/server'

import icon_time from '@/assets/icons/time.svg'
import icon_tags from '@/assets/icons/tags.svg'

interface Props {
  title: string
  route: string
  date: Date
  tags: string[]
  summary?: string
}

const { title, route, date, tags, summary } = Astro.props

const code = getLangCode(Astro.url)
const root = getRoot(code)
const t = useLang(code)
---

<div class="post">
  <a class="post__link" href={`${root}a/${route}`}>
    <h2 class="post__title">{title}</h2>
  </a>

  <div class="post-meta">
    <div class="post-time">
      <img class="icon-sm" src={icon_time.src} alt="time" />
      <time datetime={date.toISOString()}>{ymdFormat(date)}</time>
    </div>

    <div class="post-tags">
      <img class="icon-sm" src={icon_tags.src} alt="tags" />
      {
        tags.length ? (
          tags.map((tag) => (
            <a class="link-sub post-tags__item" href={`${root}tags/${tagify(tag)}`}>
              {tag}
            </a>
          ))
        ) : (
          <div class="post-tags__no-tags">${t('ui.no-tags')}</div>
        )
      }
    </div>
  </div>

  <hr class="post__divider" />

  {
    summary && (
        <div class="post__summary">{summary.trim()}</div>
    )
  }
</div>

<style lang="scss">
  @use '@/styles/scss' as *;

  .post {
    margin: 2rem 0;

    &:last-child {
      margin-bottom: 0;
    }

    &__link {
      text-decoration: none;
    }

    &__title {
      font-size: 1.5rem;
      font-weight: normal;
      margin: 0;
      margin-bottom: 0.125rem;
    }
  }

  .post-meta {
    display: grid;
    align-items: center;
    grid-template-columns: max-content auto;
    column-gap: 1rem;

    @media (max-width: $screen-md) {
      grid-template-columns: 1fr;
      row-gap: 0.25rem;
    }
  }

  .post-time {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }

  .post-tags {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    flex-wrap: wrap;

    &__item {
      line-height: 1.25;
      word-break: break-word;
    }

    &__no-tags {
      color: var(--color-gray-light);
    }
  }

  .post__divider {
    margin: 0.5rem 2rem;

    border: none;
    border-top: 1px solid var(--color-gray-light-2);
  }

  .post__summary {
    color: var(--color-gray-light);
    text-align: right;
  }
</style>
