---
import { getCollection } from 'astro:content'
import { sum } from 'lodash-es'
import { getLangCode, getRoot, useLang } from '@/i18n'
import { ymd, ymKey } from '@/utils/server'

const code = getLangCode(Astro.url)
const root = getRoot(code)
const t = useLang(code)

const posts = await getCollection('posts', (entry) => {
  return entry.id.startsWith(`${code}/`)
})

const stats: Record<number, Record<number, number>> = {}

posts.forEach(({ data }) => {
  const date = ymd(data.date)

  if (!stats[date.year]) {
    stats[date.year] = {}
  }
  if (!stats[date.year][date.month]) {
    stats[date.year][date.month] = 0
  }
  stats[date.year][date.month] += 1
})

const hasDate = Object.keys(stats).length
---

<div class="timeline">
  <div class="timeline__title">Timeline</div>
  {
    hasDate ? (
      Object.entries(stats)
        .sort((a, b) => parseInt(b[0]) - parseInt(a[0]))
        .map(([year, months]) => (
          <>
            <div class="timeline__year">
              <span class="timeline__year-name">{year}</span>
              <span class="timeline__year-count">{sum(Object.values(months))}</span>
            </div>
            <div class="timeline__list">
              {Object.entries(months)
                .sort((a, b) => parseInt(a[0]) - parseInt(b[0]))
                .map(([month, count]) => (
                  <a class="timeline__item" href={`${root}timeline/${ymKey(year, month)}`}>
                    <span class="timeline__month">{month}</span>
                    <span class="timeline__count">{count}</span>
                  </a>
                ))}
            </div>
          </>
        ))
    ) : (
      <div class="timeline__no-timeline">{t('ui.no-timeline')}</div>
    )
  }
</div>

<style lang="scss">
  @use '@/styles/utils' as *;
  @use '@/styles/mixin' as mixin;

  .timeline {
    margin: 1rem 0;

    &__title {
      font-size: 1.5rem;
      font-weight: bold;
    }

    &__year {
      display: flex;
      column-gap: 0.5rem;
      align-items: center;
      margin-top: 0.5rem;
      margin-bottom: 0.25rem;
    }

    &__year-name {
      font-size: 1.25rem;
      font-weight: bold;
      color: var(--color-green);
    }

    &__year-count {
      @include mixin.post-count;

      @include override {
        color: var(--color-green);
        border: 1px solid var(--color-green);
        background: none;
      }
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      row-gap: 0.125rem;
      column-gap: 0.75rem;
    }

    &__item {
      @include mixin.link-sub;

      @include override {
        display: flex;
        align-items: center;
        column-gap: 0.25rem;
        word-break: break-word;
      }
    }

    &__count {
      @include mixin.post-count;
    }

    &__no-timeline {
      color: var(--color-gray-light);
    }
  }
</style>
