---
import './base.sass'
import { getLangCode, getRoot, useLang } from '@/i18n'

import banner from '@/assets/banner.png'
import iconMenu from '@/assets/buttons/menu.svg'
import iconExternal from '@/assets/buttons/external.svg'
import iconClose from '@/assets/buttons/close.svg'

const { title } = Astro.props

const code = getLangCode(Astro.url)
const root = getRoot(code)
const t = useLang(code)
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/png" href="/favicon.png" />
  <title>{title}</title>
</head>

<body>
  <a class="menu-expander" data-icon-menu={iconMenu} data-icon-close={iconClose} >
    <img class="menu-button" src={iconMenu} alt="menu_button" />
  </a>

  <div class="menu-fullscreen hidden">
    <div class="menu-fs-container">
      <a class="menu-fs-link" href="https://idl.ist/">
        <img class="menu-fs-link-external" src={iconExternal} alt="external" />
        <span class="menu-fs-link-text">{t('ui.to-index')}</span>
      </a>
      <hr class="menu-fs-hr" />
      <div class="menu-fs-link-title">{t('ui.language')}</div>
      <a class="menu-fs-link" href="/">简体中文</a>
      <a class="menu-fs-link" href="/en/">English</a>
      <a class="menu-fs-link" href="/ja/">日本語</a>
      <hr class="menu-fs-hr" />
      <a class="menu-fs-link" href={root}>{t('ui.articles')}</a>
      <hr class="menu-fs-hr" />
    </div>
  </div>

  <header>
    <div class="header-container">
      <div class="header">
        <img class="header-banner" src={banner} alt="banner" />
        <hr class="header-divider" />
        <div>i'D Blog</div>
      </div>
      <div class="menu-landscape">
        <a class="menu-link" href={root}>{t('ui.articles')}</a>
        <div class="menu-link-dropdown">
          <div>{t('ui.language')}</div>
          <div class="menu-link-dropdown-content">
            <a class="menu-link-dropdown-link" href="/">简体中文</a>
            <a class="menu-link-dropdown-link" href="/en/">English</a>
            <a class="menu-link-dropdown-link" href="/ja/">日本語</a>
          </div>
        </div>
        <a class="menu-link" href="https://idl.ist/">
          <img class="menu-link-external" src={iconExternal} alt="external" />
          <span>{t('ui.to-index')}</span>
        </a>
      </div>
    </div>
  </header>

  <slot></slot>

  <div id="bg-tiles"></div>
</body>

<script>
  const Menu = document.querySelector('.menu-expander') as HTMLLinkElement
  const MenuButton = document.querySelector('.menu-button') as HTMLImageElement
  const MenuDropdown = document.querySelector('.menu-fullscreen') as HTMLElement
  const iconMenu = Menu.dataset.iconMenu ?? ''
  const iconClose = Menu.dataset.iconClose ?? ''

  Menu.addEventListener('click', () => {
    MenuDropdown.classList.toggle('hidden')
    const state = MenuDropdown.classList.contains('hidden')
    MenuButton.setAttribute('src', state ? iconMenu : iconClose)
  })
</script>