---
import type { CollectionEntry } from 'astro:content'
import './homepage.sass'
import Base from './base.astro'
import Container from '@/components/container.astro'
import Contact from '@/components/contact.astro'
import Tags from '@/components/tags.astro'
import Timeline from '@/components/timeline.astro'
import PostListing from '@/components/post-listing.astro'
import { useLang } from '@/i18n'
import type { Paging } from '@/utils/server'

import logo_personal from '@/assets/idlist.png'
import icon_email from '@/assets/icons/email.svg'
import icon_home from '@/assets/icons/home.svg'
import icon_twitter from '@/assets/icons/twitter.svg'
import icon_soundcloud from '@/assets/icons/soundcloud.svg'
import icon_github from '@/assets/icons/github.svg'
import Pagination from '@/components/pagination.astro'

interface Props {
  posts: CollectionEntry<'posts'>[]
  total: number
  page: Paging
}

const { posts, total, page } = Astro.props
const t = useLang(Astro.url)
---

<Base title="Reinventing the Wheel | i'D Blog">
  <Container>
    <div class="homepage__container">
      <div class="homepage__info">
        <div class="homepage-me">
          <div class="homepage-me__icon-bg">
            <img class="homepage-me__icon" src={logo_personal.src} alt="idlist" />
          </div>
          <div class="homepage-me__name">i'DLisT</div>
        </div>

        <Contact icon={icon_email.src} text="i@idl.ist" link="mailto:i@idl.ist" />
        <Contact icon={icon_home.src} text="idl.ist" link="https://idl.ist" />
        <Contact icon={icon_twitter.src} text="@i_dlist" link="https://twitter.com/i_dlist" />
        <Contact icon={icon_github.src} text="idlist" link="https://github.cpm/idlist" />
        <Contact icon={icon_soundcloud.src} text="i'DLisT" link="https://soundcloud.com/idlist" />

        <div class="homepage-stats">
          <Fragment set:html={t('ui.total-posts', total)} />
        </div>

        <div class="homepage-source">
          <code>// <Fragment set:html={t('ui.check-source-code')} /></code>
        </div>

        <Tags />
        <Timeline />
      </div>

      <div class="homepage">
        {
          posts.length ? (
            <>
              <Pagination page={page}/>
              {posts.map((post) => (
                <PostListing
                  title={post.data.title}
                  slug={post.slug}
                  tags={post.data.tags ?? []}
                  date={post.data.date}
                />
              ))}
              <Pagination page={page} />
            </>
          ) : (
            <div class="homepage__no-articles">{t('ui.no-posts-in-lang')}</div>
          )
        }
      </div>
    </div>
  </Container>
</Base>
